.DS_Store
__pycache__/
*.zip

logs/

data/*
data/eval_persona_extract/*
data/eval_persona_eval/*
data/persona_vectors/*

!data/ablation_head_config/
!data/.gitkeep
!data/eval_persona_extract/.gitkeep
!data/eval_persona_eval/.gitkeep
!data/persona_vectors/.gitkeep

.env
